.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    margin: 0;
    padding: 40px 0;
    grid-area: place__title;
}
@media screen and (max-width: 768px) {
    .place__title{
        font-size: 54px;
        font-weight: 900;
        line-height: 1.06;
        padding: 0 50px 0 24px;
    }
}

