.intro__text{
    font-size: 16px;
    line-height: 1.63;
}

@media screen  and (max-width: 1024px){
    .intro__text{
       width: 80%;
    }

}

@media screen and (max-width: 786px){
    .intro__text{
        width: 100%;
    }

}