@import url(./__list/intro__list.css);
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__weight_bold/intro__weight_bold.css);
@import url(./__weight_normal/intro__weight_normal.css);

.intro{
    padding: 0 148px 92px;

}
@media screen and (max-width: 1024px){
    .intro{
        padding: 0 48px 92px;
    }
}
@media screen and (max-width: 768px){
    .intro{
        padding: 0 24px;

    }

}
@media screen and (max-width: 320px) {
    .intro {
        padding: 0 16px;


    }
}