@import url(../cover/__title/cover__title.css);
@import url(../cover/__subttitle/cover__subtitle.css);
@import url(../cover/__background/cover__background.css);
@import url(../cover/__link/cover__link.css);

.cover{
    max-width: 1280px;
    margin: 0 auto;
    padding: 92px 24px;

}

@media screen and (max-width: 1024px){
    .cover{
        padding: 92px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 88px 0;
    }
}

